/**
 * Specific mixins
 */
@mixin generate-camp-slide($name, $color) {
  &.#{$name}-camp {
    background-color: $color;

    @content;
  }
}
@mixin generate-camp-nav($name, $color) {
  li.slide-link.#{$name} {
    background-color: $color;
  }
}

/**
 * Specific variables
 */
$camp-list: (
  'app': $app-camp-color,
  'game': $game-camp-color,
  'network': $network-camp-color,
  'iot': $iot-camp-color,
  'datasci': $datasci-camp-color);

@include generate-block('camp') {
  background: url('../images/bg-o-camp-block.png') center repeat;
  background-color: #5005a4;
  background-size: 280px;
  color: white;

  // Override for color fading
  transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000), background-color $transition-time cubic-bezier(0.770, 0.000, 0.175, 1.000) !important;

  @each $name, $color in $camp-list {
    @include generate-camp-slide($name, $color) {
      // Each slide contentt (slide != 0)
      @include generate-content-block() {

      };
    }
  }

  // Main slide content (slide == 0)
  @include generate-content-block() {

  };

  nav.camp-nav {
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 10; // Override the overlay of fullpage.js

    @each $name, $color in $camp-list {
      @include generate-camp-nav($name, $color);
    }

    ul {
      display: flex;
      height: 86px;
      justify-content: center;
      padding: 0;
      margin: 0;
      text-align: center;

      li.slide-link {
        display: block;
        width: 64px;
        height: 64px;
        align-self: center;
        padding: 0;
        margin: 0 1rem 0 0;
        border-radius: 100px;

        // Default border for transition's animate
        border: 0 solid white;
        border-radius: 100px;

        transition: transform $transition-time, border $transition-time;

        &:last-child {
          margin: 0;
        }

        &.active {
          border: 6px solid white;
          transition: transform $transition-time, border $transition-time;

          &:hover {
            transition: transform $transition-time, border $transition-time;
          }
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.2, 1.2);
          transition: transform $transition-time, border $transition-time;
        }
      }
    }

    &.hide {
      ul li {
        transform: scale(0, 0);
        transition: transform $transition-time, border $transition-time;
      }
    }
  }

  .camp-characters {
    > div:hover {
      cursor: pointer;
    }
  }
};
