@include generate-block('detail') {
  background: url('../images/bg-detail-block.png') center bottom repeat;
  background-size: contain;
  color: white;

  @include generate-content-block() {
    margin-bottom: 0; // Don't need to margin the bottom, let grid handle it (below)
    div[class^="col-"] {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 2rem;
    }

    .overview-detail {
      img {
        height: 190px;
        margin-bottom: 1rem;
      }

      h3 {
        margin-bottom: 0.2rem;
      }

      .sub {
        font-size: 0.9em;
      }
    }
  };
};
