@include generate-block('gallery') {
  background-color: $gallery-section-color;

  @include generate-content-block() {
    padding: calc(#{$navbar-height} + .8rem) 0 .8rem; // Override for gallery
    
    // Override for masonry-layout
    width: 100% !important;

    @include media-breakpoint-up(xs) {
      flex-basis: auto !important;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 1200px !important;
    }

    .wrapper {
      position: relative;
      width: 100%;
    }
    // End Override

    h1 {
      margin-bottom: 1rem;
    }

    .grid {
      /* center */
      margin: 0 auto;

      .grid-item {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          background-color: #ffffff;
        }
      }

      .col1x1 {
        width: 200px;
        height: 200px;
      }

      .col2x1 {
        width: 410px;
        height: 200px;
      }

      .col2x2 {
        width: 410px;
        height: 410px;
      }
    }
  };
};
