@include generate-block('home') {
  background: url('../images/bg-uni-block.png') center repeat;

  @include generate-content-block() {
    padding: 1.5rem 0; // Override first block
    z-index: 20;

    @include media-breakpoint-down(md) {
      padding: calc(#{$navbar-height} + 1.5rem) 0 1.5rem;
    }

    .logo {
      margin-bottom: 1rem;
    }

    h5 {
      font-weight: 600;
    }
  };

  @mixin generate-wave($color, $min-height-bg) {
    .waving-#{$color} {
      position: absolute;
      width: 100%;
      height: 177px;
      bottom: 0;
      background: url('../images/home-wave-#{$color}.png') center bottom repeat-x;
      background-size: contain;

      @include media-breakpoint-down(md) {
          background-size: auto $min-height-bg;
      }
    }
  }

  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @include generate-wave('purple', 86.3px);
    @include generate-wave('green', 91.5px);
    @include generate-wave('blue', 73.3px);
  }
};
