@include generate-block('sponsor') {
  background-color: $sponsor-section-color;

  @include generate-content-block() {
    div[class^="col-"] {
      margin-bottom: 0.8rem;
    }

    .sponsors-list {
      img {
        width: 180px;
        height: 180px;
        border-radius: 100px;
        background-color: #ffffff;
      }
    }
  };
};
