@include generate-block('sponsor') {
  background: url('../images/bg-uni-block.png') center repeat;

  @include generate-content-block() {
    div[class^="col-"] {
      margin-bottom: 0.8rem;
    }

    .sponsors-list {
      img {
        width: 180px;
        height: 180px;
        border-radius: 100px;
        background-color: rgb(150, 150, 150);
      }
    }
  };
};
