$home-section-color: #e4a683;
$detail-section-color: #b4ffaa;
$sponsor-section-color: #c5abfc;
$camp-section-color: #66ffac;
$timeline-section-color: #fa9cee;
$gallery-section-color: #d0eda1;
$recommend-section-color: #8badf1;
$faq-section-color: #f07f8d;

$app-camp-color: #2471ff;
$game-camp-color: #ffb923;
$network-camp-color: #b6302d;
$iot-camp-color: #68b34a;
$datasci-camp-color: #4d2778;
