#debug-box
{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(225, 225, 225, 0.95);
  color: rgb(20, 20, 20);
  z-index: 999999;

  ul
  {
    margin: 0;
    padding: 5px 10px;

    li
    {
      list-style: none;
    }
  }
}
