.navbar {
  height: $navbar-height;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;

  // Default hide the navbar
  transform: translateY(-$navbar-height);

  .navbar-desktop {
    width: 100%;
    height: 100%;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 290px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #1e1f20;

      img {
        height: 40px;
        transition: transform 0.5s;

        &:hover {
          cursor: pointer;
          transform: scale(1.125);
        }
      }
    }

    @mixin navbar-menu() {
      display: flex;
      position: absolute;
      width: calc((100% - 290px) / 2);
      height: 100%;

      @include media-breakpoint-up(xl) {
        width: 455px;
      }
    }

    $margin-size: 145px;

    .nav-left {
      @include navbar-menu();

      left: calc(50% - #{$margin-size});
      transform: translateX(-100%);
    }

    .nav-right {
      @include navbar-menu();

      right: calc(50% - #{$margin-size});
      transform: translateX(100%);
    }

    .nav-linker {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      $active-color: #484a4b;

      &.active {
        background-color: $active-color;
      }

      &:hover {
        cursor: pointer;
        background-color: $active-color;
      }
    }
  }

  .navbar-mobile {
    width: 100%;
    height: 100%;

    .logo {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 100%;
      background-color: #1e1f20;

      img {
        height: 40px;
      }
    }

    .nav-hamburger {
      float: right;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 25px;
      color: white;

      i {
        padding: 8px 12px;
        border: 2px solid;
        border-radius: 6px;
      }

      &:hover {
        cursor: pointer;

        i {
          background-color: #484a4b;
        }
      }
    }
  }
}
