.navbar {
  height: $navbar-height;
  top: -$navbar-height; // Default hide the navbar
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .navbar-brand {
    margin-right: 0;
  }

  .navbar-desktop {
    width: 100%;
    display: flex;
    align-items: center;

    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    $triangle-width-size: 25px;
    $triangle-height-size: 18px;
    $triangle-color: #292B2C;

    .triangle {
      position: absolute;
      left: 50%;
      top: $navbar-height;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: $triangle-width-size solid transparent;
      border-right: $triangle-width-size solid transparent;

      border-top: $triangle-height-size solid $triangle-color;
    }

    $margin-size: 120px;

    div[class^="nav-"] {

      .nav-linker {
        display: inline-block;
        color: white;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .nav-left {
      position: absolute;
      left: calc(50% - #{$margin-size});
      transform: translateX(-100%);
    }

    .nav-right {
      position: absolute;
      right: calc(50% - #{$margin-size});
      transform: translateX(100%);
    }
  }
}
