.navbar {
  height: $navbar-height;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  top: -$navbar-height; // Default hide the navbar

  .navbar-brand {
    margin-right: 0;
  }
}
