// Toggle for sidenav
.fullpage-wrapper .section {
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);

  &.open-sidenav {
    transform: translate3d(280px, 0, 0);
  }
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  padding-top: 60px;
  background-color: #292B2C;
  z-index: 999;

  transform: translate3d(-280px, 0, 0);
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);

  &.open {
    transform: translate3d(0, 0, 0);
  }

  .nav-linker {
    padding: 15px 15px;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: #484a4b;
    }
  }
}
