// Import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Variables
@import "./variables";

// Mixins
@import "./mixins";

// Deps
@import "./color";
@import "./font";
@import "./navbar";
@import "./sidebar";

// Debug
@import "./debug";

// Blocks
@import "./blocks/home";
@import "./blocks/detail";
@import "./blocks/sponsor";
@import "./blocks/camp";
@import "./blocks/timeline";
@import "./blocks/gallery";
@import "./blocks/recommend";

// Change based font size
html {
  font-size: 24px;
}

html, body {
  height: 100%;
  font-family: 'ThaiSansNeue' !important;
}
