.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 12345678;
  background-color: white;

  .loading-content {
    @extend .force-fredoka;
    font-size: 2rem;
  }
}
